  <div data-role="header" data-theme="b">
    <h1>Shareanexpense</h1>
  </div><!-- /header -->

  <div data-role="content">

    <div data-role="fieldcontain">
      <p>Participant
      <a href="participant/add" data-rel="dialog" data-role="button" data-icon="plus" data-transition="pop" data-inline="true">Add</a>
       </p>

      <ul data-role="listview" data-inset="true" data-split-icon="delete" data-split-theme="d">
      </ul>

    </div>
      <a href="result" data-role="button" data-theme="b">Share</a>


  </div><!-- /content -->
