<div data-role="header" data-theme="b">
    <h1>Shareanexpense</h1>
</div><!-- /header -->

<div data-role="content">

<form id="formPrincipal" action="" method="post">
  <input type="hidden" id="nbPers" name="nbPers" value="0">


<div data-role="fieldcontain">
  <p>Participant
  <a href="participant/add" data-rel="dialog" data-role="button" data-icon="plus" data-transition="pop" data-inline="true">Add</a>
   </p>

  <ul data-role="listview" data-inset="true" data-split-icon="delete" data-split-theme="d">
        <%=
        participantList.size()
        %>
  </ul>

</div>
  <input type="submit" data-theme="b" value="Share">

</form>

</div><!-- /content -->
