<div data-role="header" data-theme="b">
    <h1>Add a participant</h1>
</div><!-- /header -->

<div data-role="content">

    <form data-ajax="false">
      <div data-role="fieldcontain">
           <label for="name">Name:</label>
           <input type="text" name="name" id="name" autofocus />
      </div>
      <div data-role="fieldcontain">
           <label for="amount">Amount:</label>
           <input type="number" name="amount" id="amount" value="0" min="0" step="1" />
      </div>
      <input type="submit" value="Add" />
    </form>
</div><!-- /content -->
